#jinja2: trim_blocks:False

consul {
  address = "{{ consul_template_consul_server }}:{{ consul_template_consul_port }}"

  auth {
    enabled = false
  }
}

{% if consul_template_log_level -%}
log_level = "{{consul_template_log_level}}"
{% endif -%}

{% if consul_template_wait is defined -%}
wait {
  min = "{{consul_template_wait.min|default('5s')}}"
  max = "{{consul_template_wait.min|default('10s')}}"
}
{% endif -%}

{% if not consul_template_use_config_dir -%}
{% if consul_template_templates -%}
{% for template in consul_template_templates -%}
template {
  source = "{{ consul_template_home }}/templates/{{ template.name }}"
  destination = "{{ template.destination }}"
  {% if template.command is defined %}command = "{{ template.command }}"{% endif %}
  {% if template.perms is defined %}perms = {{ template.perms }}{% endif %}
  {% if template.backup is defined %}backup = {{ template.backup|lower }}{% endif %}
  {% if template.wait is defined -%}
  wait {
    min = "{{ template.wait.min | default('2s') }}"
    max = "{{ template.wait.max | default('10s')}}"
  }
  {% endif -%}
}{% endfor -%}
{% endif -%}
{% endif -%}
