---
# description: RedHat specific installation
- name: RedHat specific installation
  tags: installation
  block:

    - debug: var=telegraf_yum_gpgkey
      tags: debug

    - name: "Add yum repository"
      yum_repository:
        name: influxdb
        description: InfluxDB Repository - RHEL $releasever
        baseurl: "https://repos.influxdata.com/stable/$basearch/main"
        gpgcheck: yes
        gpgkey: "{{ telegraf_yum_gpgkey }}"
        enabled: yes
      become: true

    - name: "Install Telegraf package"
      package:
        name: telegraf
        state: present
      register: is_telegraf_package_installed
      until: is_telegraf_package_installed is succeeded
      become: true